# Dependencies
node_modules
**/node_modules

# Environment files
.env
.env.local
.env.*.local
**/.env
.env.example
**/env

# Production & Build outputs
dist
dist-ssr
**/dist
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Editor & OS files
.DS_Store
Thumbs.db
.vscode
.idea

package-lock.json
